{{#foreach navigation}}
    <a class="text-sm font-medium text-slate-700 hover:text-gray-900 menu-item menu-item-{{slug}}{{#if current}} menu-item-current{{/if}}"
        href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}